################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstCode/FirstCode/.vs/FirstCode
/FirstCode/FirstCode/obj
